nav ul {
    background-color: sandybrown;
    border-color: seashell;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    margin: 10px;
    
}
nav ul li{
    display: inline;
    color: papayawhip;
    margin: 20px 20px;
    padding: 20px 20px;
}
a {
    color: sienna;
    text-decoration: none;
    padding: 10px 10px;
    margin: 10px 10px;
}
h1 {
    color: grey;
    padding: 5px 5px;
    margin: 10px 10px;
    
}
body {
    background-color: peachpuff;
}
div {
    padding-bottom: 40%;
    position: relative;
     
}
iframe {
    position: absolute;
    width: 100%;
    height:100%;
}
tr {
    background-color: seashell;

}
table,th,td {
    border: 2px solid honeydew;
    border-collapse: collapse;
} 
th {
    color: purple;
}